Razin.Web/Service References/Service/RazinService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Razin.Bo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Razin.Bo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Basesalary" type="xs:float" />
      <xs:element minOccurs="0" name="Designation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emptype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthlySalary" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEmployee" nillable="true" type="tns:BaseEmployee" />
</xs:schema>